# JBUILDER_GEN

package "top" (
  requires = "cohttp-top"
)

package "lwt-core" (
  requires = "cohttp-lwt"
)

package "lwt" (
  requires = "cohttp-lwt-unix"
)

package "async" (
  requires = "cohttp-async"
)

package "js" (
  requires = "cohttp-lwt-js"
)