Source: ocaml-http
Section: devel
Priority: optional
Maintainer: Stefano Zacchiroli <zack@debian.org>
Build-Depends: debhelper (>> 4.0.0), ocaml-nox (>= 3.09.2), ocaml-findlib (>= 1.1), libpcre-ocaml-dev (>= 5.10.1-2), libocamlnet-ocaml-dev (>= 1.1-8), cdbs
Standards-Version: 3.7.2

Package: libhttp-ocaml-dev
Architecture: any
Depends: ocaml-nox-${F:OCamlABI}, libpcre-ocaml-dev (>= 5.10.1-2), libocamlnet-ocaml-dev (>= 1.1-8)
Description: OCaml library for writing HTTP servers
 OCaml HTTP is a library for the Objective Caml programming language,
 used to build simple HTTP servers, largely inspired to Perl's
 HTTP::Daemon module.
 .
 In order to implement an HTTP servers the programmer has to provide a
 daemon specification which contains, among other parameters, a callback
 function invoked by OCaml HTTP on well formed HTTP requests received.
 HTTP responses could be sent over an out_channel connected with client
 socket, accessible from the callback.
 .
 The library contains also facility functions that helps in creating
 well formed HTTP responses and a tiny HTTP client.
